{% extends 'master' %}

{% block content %}

  <style>
    #chatarea{
      width: 500px;
      height: 500px;
      background-color: #ccc;
      float: left;
      margin-right: 15px;
    }
  </style>

  <header>
    <h1>{{ user.username }}</h1>
    <input id="user_id" type="hidden" value="{{ user.id }}"/>
  </header>

  <section>
    <div id="chatarea">

    </div>
    <div>
      <p>Please chat</p>
      <textarea id="chatbox"></textarea>
      <button id="send">Send</button>
    </div>
  </section>

  <script src="https://unpkg.com/adonis-websocket-client@1.0.2/dist/ws.js"></script>
  <script type="text/javascript">
    const chatbox = document.getElementById("chatbox");
    const send = document.getElementById('send');
    const user_id = document.getElementById('user_id');
    const chatarea = document.getElementById('chatarea');

    send.addEventListener('click', function(){
      let message = {
        user_id: user_id.value,
        message_string: chatbox.value
      };
      client.emit('message', message);
    });

    const io = ws('');
    const client = io.channel('chat').connect();

    client.joinRoom('lobby', {}, function(error, joined){});

    client.on('message', function(room, message){
      let el = document.createElement('p');
      el.textContent = message.username + ": " + message.message_string;
      chatarea.append(el);
    })

    client.on('joined', function(room, user){
      console.log(room);
    })
  </script>
{% endblock %}
