{% extends 'master' %}

{% block content %}

<section id="app">
  <router-view></router-view>
</section>

<script type="text/javascript" src="/scripts/vue.js"></script>
<script type="text/javascript" src="/scripts/vue-router.js"></script>
<script type="text/javascript" src="/scripts/ws.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

{% endblock %}
