{% extends 'master' %}

{% block content %}

<section>
{% for group in groups %}
  <div class="group">
    <p class="lead"><a href="/group/{{group.id}}">{{group.group_name}}</a></p>
  </div>
{% endfor %}
</section>


{# <script type="text/javascript" src="/scripts/build.js"></script> #}

{% endblock %}
