{% extends 'master' %}

{% block content %}

<section>
{% for group in groups %}
  <div class="group">
    <p class="lead"><a href="/group/{{group.groupData.id}}">{{group.groupData.group_name}}</a></p>
    <div class="small-6 columns">
      {% for task in group.tasks %}
        <p>{{ task.task_string }}</p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</section>


{# <script type="text/javascript" src="/scripts/build.js"></script> #}

{% endblock %}
