{% extends 'master' %}

{% block content %}

{# {{ form.open({ action: 'GroupController.test', name: 'formy', id: 'formy'}) }}
  {{ csrfField }}
  <div>
  </div>
{{ form.close() }} #}


{# <input type="hidden" id="userId" value="{{ user.id }}"/>

<section id="app">
  <router-view></router-view>
</section>


<script type="text/javascript" src="/scripts/build.js"></script> #}

{% endblock %}
