{% extends 'master' %}

{% block content %}

<div class="row">
  <div class="group full">
    <p class="lead">{{ group.group_name }}</p>
  </div>
</div>

{#
<section id="app">
  <router-view></router-view>
</section> #}


{# <script type="text/javascript" src="/scripts/build.js"></script> #}

{% endblock %}
