<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>AdonisJs - Node.Js MVC Framework</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header class="clearfix">
    <div class="row">
      <h1 class="small-3 large-3 columns">RUCollab</h1>
      <nav class="small-3 large-3 columns">
        <a href="/">Home</a>
        <a href="#">About</a>
        {% if currentUser %}
        <a href="/logout">Log out</a>
        {% endif %}
      </nav>
      <div class="small-3 columns"></div>
    </div>
  </header>

  {% include 'messages' %}

  <section>
    <div class="__wrapper">
      {% block content %}{% endblock %}

      {% block footer %}
      {% endblock %}
    </div>
  </section>

</body>
</html>
