@import "foundation";


header{
  height: 75px;
  background-color: map-get($foundation-palette, primary);
  color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 0.5em;
  nav{
    height: inherit;
    a{
      height: inherit;
      text-decoration: none;
      color: white;
      margin-right: 10px;
      &:hover{
        text-decoration: underline;
        color: white;
      }
    }
  }
}
